<div class="card rounded shadow-sm">
<form [formGroup]="form"  (submit)="onSubmit()">
  <div class="p-3">
    <!-- Para testes de validação de formularios
    <p>
      Form Value: {{form.value | json}}
    </p>
    <p>
      Form Status: {{form.status | json}}
    </p>
    -->
    <div class="form-row">
      <div class="form-group col-md-12">
        <label>Nome</label>
        <input type="text" class="form-control is-invalid"
            [ngClass]="{'is-invalid': f.nome.errors && f.nome.touched}"
            formControlName="nome" placeholder="Insira o Nome">
            <div *ngIf="f.nome.errors?.required" class="invalid-feedback">
              obrigatório
            </div>
            <div *ngIf="f.nome.errors?.minlength" class="invalid-feedback">
              mínimo 3 caracteres
            </div>
            <div *ngIf="f.nome.errors?.maxlength" class="invalid-feedback">
              máximo 200 caracteres
            </div>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-3">
        <label>Cód. Interno</label>
        <input type="text" class="form-control" formControlName="codigoInterno" placeholder="Insira o Cód. Interno">
      </div>
      <div class="form-group col-md-9">
        <label>Marca</label>
        <input type="text" class="form-control" formControlName="marca" placeholder="Insira a Marca">
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-2">
        <label>Prazo Validade (dias)</label>
        <input type="number" class="form-control" formControlName="prazoValidadeDias" placeholder="0">
      </div>
      <div class="form-group col-md-2">
        <label>Qtd Estoque</label>
        <input type="number" class="form-control" formControlName="qtdeEstoque" placeholder="0">
      </div>
      <div class="form-group col-md-4">
        <label>Custo</label>
        <input type="number" class="form-control" formControlName="custo" placeholder="0,00">
      </div>
      <div class="form-group col-md-4">
        <label>Foto</label>
        <input type="text" class="form-control" formControlName="foto" placeholder="Nome Foto">
      </div>
    </div>
  </div>
  <div class="card-footer">
    <div class="d-flex">
      <!--
      <button class="btn btn-outline-secondary mr-auto border" (click)="resetForm($event)">
        Cancelar Alteração
      </button>
      -->
      <button class="btn btn-success" [disabled]="!form.valid" (click)="salvarAlteracao()">
        <!--<span class="spinner-border spinner-border-sm mr-1"></span>-->
        Salvar EPI
      </button>
    </div>
  </div>
</form>
</div>
