<div class="card rounded shadow-sm">
  <form [formGroup]="form"  (submit)="onSubmit()">
    <div class="p-3">
      <!-- Para testes de validação de formularios
      <p>
        Form Value: {{form.value | json}}
      </p>
      <p>
        Form Status: {{form.status | json}}
      </p>
      -->
      <div class="form-row">
        <div class="form-group col-md-8">
          <label>Nome</label>
          <input type="text" class="form-control is-invalid"
              [ngClass]="{'is-invalid': f.nome.errors && f.nome.touched}"
              formControlName="nome" placeholder="Insira o Nome">
              <div *ngIf="f.nome.errors?.required" class="invalid-feedback">
                obrigatório
              </div>
              <div *ngIf="f.nome.errors?.minlength" class="invalid-feedback">
                mínimo 3 caracteres
              </div>
              <div *ngIf="f.nome.errors?.maxlength" class="invalid-feedback">
                máximo 200 caracteres
              </div>
        </div>
        <div class="form-group col-md-4">
          <label>Setor</label>
          <select class="form-control" formControlName="setorId">
            <option *ngFor="let setor of setores" value={{setor.id}}>{{setor.nome}}</option>
          </select>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-2">
          <label>CPF</label>
          <input type="text" class="form-control" formControlName="cpf" placeholder="000.000.000-00">
        </div>
        <div class="form-group col-md-2">
          <label>RG</label>
          <input type="text" class="form-control" formControlName="rg" placeholder="00.000.000">
        </div>
        <div class="form-group col-md-3">
          <label>Telefone</label>
          <input type="text" class="form-control" formControlName="telefone" placeholder="(00) 0 0000-0000">
        </div>
        <div class="form-group col-md-5">
          <label>E-Mail</label>
          <input type="text" class="form-control" formControlName="email" placeholder="UF">
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label>Endereço</label>
          <input type="text" class="form-control" formControlName="endereco" placeholder="Rua, número, bairro">
        </div>
        <div class="form-group col-md-6">
          <label>Município</label>
          <input type="text" class="form-control" formControlName="municipio" placeholder="Rua, número, bairro">
        </div>
        <div class="form-group col-md-1">
          <label>UF</label>
          <input type="text" class="form-control" formControlName="uf" placeholder="UF">
        </div>
        <div class="form-group col-md-2">
          <label>CEP</label>
          <input type="text" class="form-control" formControlName="cep" placeholder="00000-000">
        </div>
      </div>
    </div>
    <div class="card-footer">
      <div class="d-flex">
        <!--
        <button class="btn btn-outline-secondary mr-auto border" (click)="resetForm($event)">
          Cancelar Alteração
        </button>
        -->
        <button class="btn btn-success" [disabled]="!form.valid" (click)="salvarColaborador()">
          <!--<span class="spinner-border spinner-border-sm mr-1"></span>-->
          Salvar Colaborador
        </button>
      </div>
    </div>
  </form>
  </div>

  <!--app-colaborador-epi-->

  <div class="card rounded shadow-sm mt-4" *ngIf="modoEditar">
    <!--
    <p>Form value: {{form.controls.colaboradoresEpis.value | json}}</p>
    <p>Form valid: {{form.controls.colaboradoresEpis.status | json}}</p>
    <p>colaboradorID: {{this.colaboradorIdParam | json}}</p>
    <p>ceAtual: {{this.ceAtual.id | json}}</p>
    <p>ceIndex: {{this.ceAtual.index | json}}</p>
    -->
    <div class="p-3">
      <div class="d-flex border-bottom">
        <h2 class="mr-auto">
          Entregar EPI
        </h2>
        <h2>
          <i class="fa-solid fa-head-side-mask"></i>
        </h2>
      </div>
      <p>Clique em Lote para adicionar e preencher novos Lotes</p>
      <div class="form-row p-1">
        <div [formGroup]="form" class="col">
          <div formArrayName="colaboradoresEpis" *ngFor="let ce of ces.controls; let i=index">
            <fieldset [formGroupName]="i" class="form-group">
              <legend class="d-flex justify-content-between capitalize">
                <button (click)="devolverEpi(template, i)" class="p-2 btn btn-sm btn-outline-warning mb-1 d-flex"
                  tooltip="Devolver EPI"
                  [adaptivePosition]="false"
                  [delay]="500"
                  placement="left">
                <i class="fa fa-window-close my-1"></i>
                <b class="ml-1 d-none d-sm-block">Devolver</b>
              </button>
            </legend>
            <div class="row">
              <div class="form-group col-md-4">
                <label>EPI</label>
                <select class="form-control" formControlName="epiId">
                  <option *ngFor="let epi of epis" value={{epi.id}}>{{epi.nome}}</option>
                </select>
              </div>
              <div class="form-group col-md-2 invisible">
                <label>Id</label>
                <input type="text" class="form-control" formControlName="id">
              </div>
            </div>
          </fieldset>
          <button class="btn btn-outline-primary float-right" (click)="cancelarEntrega(i)">
            Cancelar Entrega
          </button>
        </div>
      </div>
    </div>
    <button class="d-flex btn btn-outline-primary" (click)="adicionarColaboradorEpi()">
      <i class="fa fa-plus-circle my-1"></i>
      <b class="ml-1">Lote</b>
    </button>
  </div>
  <div class="card-footer">
    <div class="d-flex">
      <button [disabled]="!form.controls.colaboradoresEpis.valid" class="btn btn-success" (click)="salvarColaboradorEpi()">
        Entregar EPI
      </button>
    </div>
  </div>
</div>

<br>

<ng-template #template>
  <div class="modal-body text-center">
    <p>Confirma Devolução?</p>
    <button type="button" class="btn btn-default" (click)="confirmDevolucao()" >Sim</button>
    <button type="button" class="btn btn-primary" (click)="declineDevolucao()" >Não</button>
  </div>
</ng-template>

<style type="text/css">

  .iconesSociais {
    color: rgb(94, 94, 94);
  }

  .capitalize {
    text-transform: capitalize;
    border-bottom: 1px solid rgb(226, 226, 226);
    color: silver;
  }

  .tab-pane {
    padding: 20px 8px 8px;
    border-top: 0px;
    border-right: 1px solid #dee2e6;
    border-bottom: 1px solid #dee2e6;
    border-left: 1px solid #dee2e6;
  }

  .card-evento {
    position: sticky;
    --default-height: 25px;
    top: var(--default-height);
  }

  </style>>

