<div class="container">
  <app-nav></app-nav>

  <!--Agora migrado para rotas
  <app-setores></app-setores>
  <app-empresas></app-empresas>
  <app-colaboradores></app-colaboradores>
  <app-epis></app-epis>
  <app-perfil></app-perfil>
-->
  <router-outlet></router-outlet>
</div>

<!--<ngx-spinner type="ball-scale-multiple"></ngx-spinner>-->

<ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#fff"
  type="ball-scale-multiple">
  <p style="font-size: 20px; color: white;">Carregando...</p>
</ngx-spinner>
