<div class="d-flex align-items-center vh-100">

  <div class="mx-auto text-center shadow-sm bg-white rounded p-5 my-5">

    <form #loginForm="ngForm" class="form-signin">
      <i class="fa fa-users mb-2"></i>
      <h1 class="h3 mb-3 font-weight-normal">Entrar com</h1>
      <label for="username" class="sr-only">Usuário</label>
      <input
        name="username"
        type="email"
        id="username"
        class="form-control"
        placeholder="Usuário"
        required
      >
      <label for="password" class="sr-only">Password</label>
      <input
        name="password"
        type="password"
        id="password"
        class="form-control"
        placeholder="Senha"
        required
      >
      <button [disabled]="loginForm.invalid" class="btn btn-lg btn-primary btn-block" type="submit">Entrar</button>
      <p class="mt-4 mb-2 text-muted">Não tem login? Cadastre-se abaixo</p>
      <a class="btn btn-lg btn-link btn-block" routerLink="/user/registration">Quero me cadastrar</a>
    </form>

  </div>

</div>
