<app-titulo titulo="Empresa" iconClass="fa-solid fa-chalkboard-user" [botaoListar]="false"></app-titulo>

<router-outlet></router-outlet>

<div class="card rounded shadow-sm">
  <form [formGroup]="form"  (submit)="onSubmit()">
    <div class="p-3">
      <!-- Para testes de validação de formularios
      <p>
        Form Value: {{form.value | json}}
      </p>
      <p>
        Form Status: {{form.status | json}}
      </p>
      -->
      <div class="form-row">
        <div class="form-group col-md-12">
          <label>Razão Social</label>
          <input type="text" class="form-control is-invalid"
              [ngClass]="{'is-invalid': f.razaoSocial.errors && f.razaoSocial.touched}"
              formControlName="razaoSocial" placeholder="Razão Social">
              <div *ngIf="f.razaoSocial.errors?.required" class="invalid-feedback">
                obrigatório
              </div>
              <div *ngIf="f.razaoSocial.errors?.minlength" class="invalid-feedback">
                mínimo 3 caracteres
              </div>
              <div *ngIf="f.razaoSocial.errors?.maxlength" class="invalid-feedback">
                máximo 200 caracteres
              </div>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-2">
          <label>CNPJ</label>
          <input type="text" class="form-control" formControlName="cnpj" placeholder="00.000.000/0001-00">
        </div>
        <div class="form-group col-md-2">
          <label>Inscr. Est.</label>
          <input type="text" class="form-control" formControlName="inscrEst" placeholder="000.000.000.000-0">
        </div>
        <div class="form-group col-md-3">
          <label>Endereco</label>
          <input type="text" class="form-control" formControlName="endereco" placeholder="Rua, número, bairro">
        </div>
        <div class="form-group col-md-5">
          <label>Município</label>
          <input type="text" class="form-control" formControlName="municipio" placeholder="Município">
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label>UF</label>
          <input type="text" class="form-control" formControlName="uf" placeholder="UF">
        </div>
        <div class="form-group col-md-2">
          <label>CEP</label>
          <input type="text" class="form-control" formControlName="cep" placeholder="00000-000">
        </div>
        <div class="form-group col-md-3">
          <label>Telefone</label>
          <input type="text" class="form-control" formControlName="telefone" placeholder="(00) 0 0000-0000">
        </div>
        <div class="form-group col-md-5">
          <label>E-Mail</label>
          <input type="text" class="form-control" formControlName="email" placeholder="UF">
        </div>
      </div>
    </div>
    <div class="card-footer">
      <div class="d-flex">
        <!--
        <button class="btn btn-outline-secondary mr-auto border" (click)="resetForm($event)">
          Cancelar Alteração
        </button>
        -->
        <button class="btn btn-success" [disabled]="!form.valid" (click)="salvarAlteracao()">
          <!--<span class="spinner-border spinner-border-sm mr-1"></span>-->
          Salvar Empresa
        </button>
      </div>
    </div>
  </form>
  </div>
