<nav class="navbar navbar-expand-lg navbar-light bg-white" > <!-- para qdo login estiver pronto *ngIf="showMenu()"-->
  <a class="navbar-brand" routerLink="dashboard">Control EPI</a>
  <button class="navbar-toggler" (click)="isCollapsed = !isCollapsed" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" [collapse]="isCollapsed" id="navbarNav">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="setores/lista">Setores</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="colaboradores/lista">Colaboradores</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="epis/lista">EPI's</a>
      </li>
      <!--<li class="nav-item">
        <a class="nav-link disabled">Disabled</a>
      </li>-->

    </ul>

    <ul class="navbar-nav">
      <li class="nav-item dropdown" dropdown>
        <a dropdownToggle class="nav-link dropdown-toggle" style="cursor: pointer;" id="navbarDropdownMenuLink" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Marcelo
        </a>
        <div *dropdownMenu class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" routerLink="user/empresa">
            Empresa
          </a>
          <a class="dropdown-item" routerLink="user/perfil">
            Perfil
          </a>
          <div role="separator" class="divider"></div>
          <a class="dropdown-item" routerLink="user/login">
            Sair
          </a>
        </div>
      </li>
    </ul>


  </div>
</nav>
